<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Elearning</title>
</head>
<body>
    {% include "elearning/header.html" %}
<h1>Felhasználónév módosítása</h1>
<form name="form">
    <p>Új felhasználónév:</p>
    <input type="text" name="username" placeholder="Új felhasználónév" required>
    <p>Jelszó:</p>
    <input type="password" name="password" required>
    <p>Jelszó megadása kötelező</p>
    <input type="submit" value="Felfasználónév megváltoztatása" onclick="save_name(form.name)">
</form>
<script>
    function save_name(form)
    {
        if(form.username.match("{{request.user.username}}"))
        {
            alert("Username cannot be changed to the same as before");
        }
        else if(!form.password.match("{{request.user.password}}"))
        {
            alert("Incorrect password");
        }
        else
        {

        }
    }
</script>
</body>
</html>