<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Elearning</title>
</head>
<body>
    {% include "elearning/header.html" %}
    <h1>Üdvözöllek a profilodon, {{request.user.username}}</h1>
    {% if request.user.first_name %}
    <h2>Te egy tanár vagy</h2>
    {% else %}
    <h2>Te egy tanuló vagy</h2>
    {% endif %}
    <h3> Csatlakozás dátuma: {{ request.user.date_joined }}</h3>

{% block content %}
    <div class="row my-3 p-3">

    </div>
{% endblock content %}
</body>