<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    <link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <title>Elearning-login</title>
</head>
<body>
    <div class="form">
        <h2>Login</h2>
        <form action="husi/static/php/login.php">
            <p class="label">E-mail address:</p>
            <input type="text" name="e-mail" placeholder="E-mail">
            <br>
            <p class="label">Password:</p><input type="password" name="password" placeholder="Password">
            <br>
            <br>
            <input type="submit" name="login" value="Login"/>      
        </form>
    </div>
</body>