.form{
    margin-left: 50px;
    margin-top: 25px;
    color: rgb(221, 221, 221);
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #458059 !important;
    color: rgb(221, 221, 221);

}

.center{
    margin-top: 25px;
    text-align: center;
}

.center h1{
    text-align: center;
}
.center a{
    text-decoration: none;
    color: rgb(221, 221, 221);
}

.center a:hover{
    opacity: 50%;
}